/* styles/Header.css */

.logo-img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .ms-2 {
    margin-left: 0.5rem;
  }
  
  .navbar-nav .nav-item {
    display: flex;
    align-items: center;
  }
  
  .navbar-nav .nav-item .nav-link {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    align-items: center;
    flex-grow: 5;
    /* margin-right: 1rem; */
    width: 50px;
  }
  